<h1>appointment info</h1>
<p>Time: <%= @appointment.appointment_datetime.strftime('%A %B %C, at %l:%M %p')  %></p>
<p> Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></p>
<p> Patients: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></p>
